body.svelte-19h1s1p{padding:0}body.svelte-172xr9r.svelte-172xr9r{height:100vh;padding:0}nav.svelte-172xr9r.svelte-172xr9r{font-family:'Times New Roman', Times, serif;font-size:17pt;position:absolute;right:0}nav.svelte-172xr9r>a.svelte-172xr9r{padding:0.5em;color:#333}main.svelte-172xr9r.svelte-172xr9r{display:flex;flex-direction:row;align-items:center;justify-content:center;width:100%;height:100%;background:url('/res/HomepageBackgroundLight.png');background-size:cover}#sections.svelte-172xr9r.svelte-172xr9r{width:60%;display:flex;flex-direction:column;align-items:left;justify-content:center;padding:0 30px}.SectionBlock.svelte-172xr9r.svelte-172xr9r{display:flex;flex-direction:row;justify-content:space-between;padding:1rem 0;cursor:pointer}.SectionText.svelte-172xr9r.svelte-172xr9r{font-family:'Times New Roman', Times, serif;font-size:28pt;font-weight:bold}.PageDots.svelte-172xr9r.svelte-172xr9r{flex-grow:1;margin:0 0.5em;background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 20'%3E%3Ccircle cx='5' cy='5' r='2'/%3E%3C/svg%3E") repeat-x;background-size:1em;background-position-y:2em;opacity:.6}.PageNumber.svelte-172xr9r.svelte-172xr9r{font-family:'Times New Roman', Times, serif;margin-top:0.5rem;font-size:28pt;opacity:.7}#introPlacement.svelte-172xr9r.svelte-172xr9r{display:flex;align-items:center;height:100%;width:40%;overflow:hidden}#introPlacement.svelte-172xr9r>div.svelte-172xr9r{position:absolute;font-family:'Times New Roman', Times, serif;font-size:10vmin;opacity:0.2;color:rgb(100, 171, 205);z-index:1}#introTitle.svelte-172xr9r.svelte-172xr9r{display:block;font-size:60vmin;line-height:57vmin;margin-left:-0.1em;width:1em;z-index:2;font-family:'Times New Roman', Times, serif;overflow:hidden;background:linear-gradient(
            to top,
            rgba(100, 171, 205, 0.8) 0%,
            rgba(62, 120, 146, 1) 49%,
            rgba(100, 171, 205, 0.8) 50%,
            rgba(62, 120, 146, 1) 100%
        );background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent}button.svelte-112zxsy{background:none;border:none;font-family:'DinkleBitmap-9px'}main.svelte-2w0bvh{height:100vh;min-height:400px;background:var(--RPG-background)}#RPGDialog.svelte-2w0bvh{position:fixed;top:0;left:0;width:100%;max-height:30vh;z-index:5}#RPGDialogHeader.svelte-2w0bvh{text-align:left;font-family:DinkleBitmap-9px;font-size:27px}@font-face {
    font-family: DinkleBitmap-7px;
    font-style: normal;
    src: url('/types/DinkieBitmap-7pxDemo.ttf');
}
@font-face {
    font-family: DinkleBitmap-9px;
    font-style: normal;
    src: url('/types/DinkieBitmap-9pxDemo.ttf');
}
@font-face {
    font-family: DinkleBitmap-9px;
    font-style: italic;
    src: url('/types/DinkieBitmap-9pxItalicDemo.ttf');
}:root {
    --background: #FFF;
    --background-dark: #F8F8F8;
    --primary: #171717;
    --primary-dark: #EEE;
    --secondary: #EEE;
    --secondary-dark: #CCC;
    --RPG-background: rgb(245, 187, 139);
    --RPG-ground-primary: rgb(126, 95, 82);
    --RPG-ground-secondary: rgb(46, 43, 41);
}
